{% extends 'base.html.twig' %}

{% block title %}
    PeepInterface
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            $("#inputLogin").focus();
            $("#inputLogin").keydown(function (event) {

                if (event.keyCode == 9) {
                    $(this).prop('disabled', true);
                    window.location.href = '/attendance/new/' + $('#inputLogin').val();
                    event.preventDefault();
                }
                if (event.keyCode == 13) {
                    $(this).val('');
                }

            });

            $("#inputLogin").keyup(function (event) {
                if (/[а-я]/i.test($(this).val())) {

                    $(this).val('');
                    alert('Ввод кириллицы запрещен!');
                }
            });


            $('#confirm-delete').on('show.bs.modal', function (e) {
                $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
            });

        });
    </script>
    <script src="{{ asset('js/inc/usersInsectorsInteractive.js') }}">
    </script>
{% endblock %}
{% block body %}
    <div class="container-fluid">
        {% include 'inc/topNavbar.html.twig' %}
        <div class="row">
            <div class="col-6">
                {% include 'inc/activeUsersTableV3.html.twig' %}
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-10">
                        <input class="form-control form-control-lg" type="text" placeholder="login" id="inputLogin">
                    </div>
                    {% set peopleCounter = 0 %}
                    {% for attendance in attendances %}
                        {% if attendance.direction == "entrance" %}
                            {% set peopleCounter=peopleCounter+1 %}
                        {% endif %}
                    {% endfor %}
                    <div class="col-1 text-center">
                        <span id="peopleCounter">Людей на участке: </span>
                    </div>
                    <div class="col-1">
                        <h1>{% if peopleCounter %}{{ peopleCounter }}</h1>
                        <h1>{% else %} 0 {% endif %}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% include 'inc/scannedLoginsTable.html.twig' %}
                    </div>
                </div>
            </div>

        </div>
        <div class="row text-center">
            <div class="col" id="finesTable">
                {% include 'Peep/inc/usersWithFines.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

