{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">Peep interface</div>
            <div class="col">
                {% include 'inc/logout.html.twig' %}
            </div>
        </div>

        <div class="row">
            <div class="col">
                data
            </div>
        </div>

    </div>
{% endblock %}